repos:
- repo: git@github.com:pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: debug-statements
    - id: check-merge-conflict
    - id: check-executables-have-shebangs
    - id: check-ast
    - id: check-byte-order-marker
    - id: check-json
    - id: check-symlinks
    - id: check-vcs-permalinks
    - id: check-xml
    - id: check-yaml
    - id: detect-private-key
    - id: forbid-new-submodules
    - id: flake8
      args: ['--ignore=E501,W503,E203,W605']

- repo: local
  hooks:
    - id: pipenv-check
      name: Pipenv Check
      entry: pipenv check
      language: system
      files: Pipfile
      verbose: false
      pass_filenames: false

    - id: check-datetime-now
      name: check_datetime_now
      description: Prefer datetime.utcnow()
      language: pygrep
      entry: 'datetime\.now\(\)'
      types: [python]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v4.3.21
  hooks:
    - id: isort
      args: ['--diff']
      additional_dependencies: ['toml']

- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.4.1
  hooks:
    - id: python-check-mock-methods

- repo: https://github.com/python/black
  rev: 19.3b0
  hooks:
    - id: black
